<main>

    <section id="section-banner">
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./assets/img/banner1.PNG" class="d-block w-100" alt="black friday LH">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner2.PNG" class="d-block w-100" alt="Promoção do mês 30 desconto">
                </div>
                <div class="carousel-item">
                    <img src="./assets/img/banner3.PNG" class="d-block w-100" alt="Jogo do ano">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>

    <h2>Itens em Promoção</h2>
    <mat-grid-list cols="4">
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/jogo1.PNG" alt="combo 1">
        
                <mat-card-header>
                  <mat-card-title>Combo de Jogos </mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    combo com mais de 200 jogos da casa
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 300,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/img1.PNG" alt="gameboy">
        
                <mat-card-header>
                  <mat-card-title>Game Boy</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Remanufaturado - refurbished.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 200,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <mat-card class="example-card">
                <img mat-card-image src="./assets/img/img2.JPG" alt="supernintendo">
        
                <mat-card-header>
                  <mat-card-title>Super Nintendo Usado</mat-card-title>
                </mat-card-header>
                
                <mat-card-content>
                  <p>
                    Somente com marcas de uso.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <p>R$ 400,00</p>
                  <button mat-button>Comprar</button>
                </mat-card-actions>
              </mat-card>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card class="example-card">
            <img mat-card-image src="./assets/img/img3.JPG" alt="combo 2">
    
            <mat-card-header>
              <mat-card-title>DreamCast exclusivo </mat-card-title>
            </mat-card-header>
            
            <mat-card-content>
              <p>
                DreamCast assinado pelo dono da SEGA
              </p>
            </mat-card-content>
            <mat-card-actions>
              <p>R$ 3099,99</p>
              <button mat-button>Comprar</button>
            </mat-card-actions>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      

       






</main>